<%= render "shared/user_nav", :person => @person %>

    <div class="container_24">
    
        <div class="grid_6">
            <%= render "shared/resource_nav", :navon => "service" %>
        </div>
    
        <div class="grid_18">
        
            <% @person.services.each do |srv| %>
                <div class="market_box">
                    <div class="box_header">
                        <%= srv.name %>
                        <%= link_to "+ Bild", new_service_pic_path(srv), :class => "dialog right button", :title => "Bild-Upload" %>
                        <%= link_to "edit", edit_person_service_path(@person, srv), :class => "dialog right button", :title => "Skill '#{srv.name}' bearbeiten" %>
                    </div>
                    <div class="half_box">
                        <table class="market">
                            <% if srv.level && !srv.level.blank? %>
                            <tr>
                                <th>Niveau</th>
                                <td><%= srv.level %></td>
                            </tr>
                            <% end %>
                            <% if srv.experience && !srv.experience.blank? %>
                            <tr>
                                <th>Erfahrung</th>
                                <td><%= srv.experience %></td>
                            </tr>
                            <% end %>
                            <% if srv.certificate && !srv.certificate.blank? %>
                            <tr>
                                <th>Zertifikate</th>
                                <td><%= srv.certificate %></td>
                            </tr>
                            <% end %>
                            <% if srv.software && !srv.software.blank? %>
                            <tr>
                                <th>Software</th>
                                <td><%= srv.software %></td>
                            </tr>
                            <% end %>
                            <% if srv.hardware && !srv.hardware.blank? %>
                            <tr>
                                <th>Hardware</th>
                                <td><%= srv.hardware %></td>
                            </tr>
                            <% end %>
                            <% if srv.price && !srv.price.blank? && srv.price != 0 %>
                            <tr>
                                <th>Preis</th>
                                <td>ab <strong><%= number_to_currency srv.price %></strong> €/h</td>
                            </tr>
                            <% end %>
                        </table>
                    </div>
                    <div class="half_box image_holder">
                        <% srv.pics.each do |pic| %>
                            <%= image_tag pic.image.thumb('338x180#').url() %>
                        <% end %>
                    </div>
                    <div class="clearfix"></div>
                </div>
            <% end %>
        
        </div>
        <div class="clearfix"></div>
    
    </div>

