<%#= render "shared/user_nav" %>
<br/>
<div class="container_24">
    
    <div class="grid_6">
        <ul id="aside_nav">
            <li><%= link_to "Personen", '#', :class => "aktiv" %></li>
            <li><%= link_to "Firmen", '#' %></li>
            <li><%= link_to "Organisationen", '#'%></li>
        </ul>
    </div>
    
    <div class="grid_18">
        <div class="grid_box">
            
            <% Person.all.each do |person| %>
            <div class="grid_6">
                <a class="profile_preview" href="<%= person_path(person) %>">
                    <% if person.skills.count > 0 %>
                        
                            <div class="pic">
                        
                                <div class="pix">
                                    <% person.skills.each do |skl| %>
                                        <%= image_tag skl.image.thumb("208x150#").url, :class => "profile_preview_pic" if skl.image %>
                                    <% end %>
                                </div>
                                <div class="pic_overlay">
                                    <span class="name"><%= person.full_name %></span>
                                    <span class="proffession"><%= person.proffession %></span>
                                </div>
                            </div>

                    <% end %>
                </a>
            </div>
            <% end %>
        </div>
        
    </div>
    <div class="clearfix"></div>
    
</div>

<br />

