<div id="banner">
    <div class="container_24">
    
        <div class="grid_24">
            <!--
            <h2 class="osans">
                <span class="thin">Zeige anderen</span> <span class="bold">was du kannst</span><br/>
                <span class="thin">und</span> <span class="bold">was du besitzt.</span>
            </h2>
            <br/>
            <br/>
            -->

            <%= link_to "", people_path, :id => "banner_content" %>
        </div>
    
    </div>
</div>

<div id="magic_slogan">
    <div id="slogan_content">
        
        <div class="slogan_tabs">
            <%= link_to "Leistungen", '#', :class => "aktiv" %>
            <%= link_to "Produkte", '#' %>
            <%= link_to "Objekte", '#' %>
        </div>
    </div>
</div>

<div id="start_tab">
    <%= link_to "", people_path, :id => "start_tab_content" %>
    <div class="clearfix"></div>
</div>

<div id="bekannt_aus">
    
</div>
