<%= form_for [@person,@skill] do |f| %>
  <% if @skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
      <% @skill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table class="form">
    <tr>
        <th><%= f.label :name %></th>
        <td><%= f.text_field :name %></td>
    </tr>
    <tr>
        <th><%= f.label :level, "Niveau" %></th>
        <td><%= f.text_field :level %></td>
    </tr>
    <tr>
        <th><%= f.label :experience, "Erfahrung" %></th>
        <td><%= f.text_field :experience %></td>
    </tr>
    <tr>
        <th><%= f.label :certificate, "Zertifikate" %></th>
        <td><%= f.text_field :certificate %></td>
    </tr>
    <tr>
        <th><%= f.label :software %></th>
        <td><%= f.text_field :software %></td>
    </tr>
    <tr>
        <th><%= f.label :hardware %></th>
        <td><%= f.text_field :hardware %></td>
    </tr>
    <tr>
        <th><%= f.label :image_uid %></th>
        <td><%= f.file_field :image %></td>
    </tr>
  </table>
  <%= f.hidden_field :person_id, :value => @person.id %>
<!--
  <div class="field">
    <%#= f.label :language %><br />
    <%#= f.text_field :language %>
  </div>
-->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
