<% if @person %>
    <%= render "shared/user_nav", :person => @person %>

    <div class="container_24">
    
        <div class="grid_6">
            <ul id="aside_nav">
                <li><%= link_to "Ausbildung", '#', :class => "aktiv" %></li>
                <li><%= link_to "Software", '#'%></li>
                <li><%= link_to "Hardware", '#'%></li>
                <li><%= link_to "Sprachen", '#'%></li>
                <li><%= link_to "Sonstiges", '#'%></li>
                <li><%= link_to "New Skill", new_person_skill_path(@person), :class => "dialog", :title => "Neuen Skill anlegen" %></li>
            </ul>
        </div>
    
        <div class="grid_18">
        
            <% @person.skills.each do |skill| %>
                <div class="market_box">
                    <div class="box_header">
                        <%= skill.name %>
                        <%= link_to "edit", edit_person_skill_path(@person, skill), :class => "dialog right button", :title => "Skill '#{skill.name}' bearbeiten" %>
                    </div>
                    <div class="half_box">
                        <table class="market">
                            <% if skill.level && !skill.level.blank? %>
                            <tr>
                                <th>Niveau</th>
                                <td><%= skill.level %></td>
                            </tr>
                            <% end %>
                            <% if skill.experience && !skill.experience.blank? %>
                            <tr>
                                <th>Erfahrung</th>
                                <td><%= skill.experience %></td>
                            </tr>
                            <% end %>
                            <% if skill.certificate && !skill.certificate.blank? %>
                            <tr>
                                <th>Zertifikate</th>
                                <td><%= skill.certificate %></td>
                            </tr>
                            <% end %>
                            <% if skill.software && !skill.software.blank? %>
                            <tr>
                                <th>Software</th>
                                <td><%= skill.software %></td>
                            </tr>
                            <% end %>
                            <% if skill.hardware && !skill.hardware.blank? %>
                            <tr>
                                <th>Hardware</th>
                                <td><%= skill.hardware %></td>
                            </tr>
                            <% end %>
                        </table>
                    </div>
                    <div class="half_box">
                        <%= image_tag skill.image.thumb('338x180#').url() if skill.image %>
                    </div>
                    <div class="clearfix"></div>
                </div>
            <% end %>
        
        </div>
        <div class="clearfix"></div>
    
    </div>
<% else %>
    <h1>Listing skills</h1>

    <table>
      <tr>
        <th>Name</th>
        <th>Language</th>
        <th>Software</th>
        <th>Certificate</th>
        <th>Experience</th>
        <th>Level</th>
        <th>Scare crop</th>
        <th>Panorama crop</th>
        <th>Image uid</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @skills.each do |skill| %>
      <tr>
        <td><%= skill.name %></td>
        <td><%= skill.language %></td>
        <td><%= skill.software %></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= skill.scare_crop %></td>
        <td><%= skill.panorama_crop %></td>
        <td><%= skill.image_uid %></td>
        <td><%= link_to 'Show', skill %></td>
        <td><%= link_to 'Edit', edit_skill_path(skill) %></td>
        <td><%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'New Skill', new_skill_path %>
<% end %>

