<% person ||= current_person %>
<div class="container_24">
    <div class="grid_24">
        <div id="magic_nav">
            
            <div id="user_pic">
                <%= image_tag "torsten_30.png", :width => 30, :height => 30 %>
            </div>
            
            <div id="user_info">
                <span class="name"><%= person.full_name %></span>
                <span class="proffession"><%= person.proffession %></span>
            </div>
            
            <ul id="user_navigation">
                <li><%= link_to 'Informationen', person_path(@person), :class => "#{'aktiv' if @that_action && @that_action == 'info'}" %></li>
                <li><%= link_to 'Skills', person_skills_path(@person), :class => "#{'aktiv' if @that_action && @that_action == 'skills'}" %></li>
                <li><%= link_to 'Resourcen', '#', :class => "#{'aktiv' if @that_action && @that_action == 'resources'}" %></li>
                <li><%= link_to 'Portfolio', '#', :class => "#{'aktiv' if @that_action && @that_action == 'portfolio'}" %></li>
                <li><%= link_to 'Kontakte', '#', :class => "#{'aktiv' if @that_action && @that_action == 'contacts'}" %></li>
                <li><%= link_to 'Bewertungen', '#', :class => "#{'aktiv' if @that_action && @that_action == 'xxx'}" %></li>
            </ul>
            
            <div class="clearfix"></div>
        </div>
    </div>
</div>  